body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: rgb(217, 76, 76);
  opacity: 0.8;
}

.red {
  background-color: rgb(246, 104, 104);
}

.green {
  background-color: rgb(122, 241, 122);
}

.blue {
  background-color: rgb(88, 178, 248);
}

.yellow {
  background-color: rgb(244, 244, 125);
}

.pressed {
  box-shadow: 0 0 20px rgb(59, 50, 50);
  background-color: rgb(42, 206, 228);
}
